<h1>Editing state of work</h1>

<%= render "form", state_of_work: @state_of_work %>

<br>

<div>
  <%= link_to "Show this state of work", @state_of_work %> |
  <%= link_to "Back to state of works", state_of_works_path %>
</div>
